/****** Home Page One *******/

/***** Hero Section Start ******/
.hero-section {
    padding: 88px 0 21px 0;

    @include screen-768 {
        padding: 40px 0;
    }
}

.hero-top {
    @include screen-768 {
        margin-bottom: 40px;
    }
}

.hero-title {
    h1 {
        max-width: 850px;
        margin: 0 auto;
        line-height: 125%;

        @include screen-768 {
            font-size: 45px;
        }

        @include screen-576 {
            font-size: 35px;
            line-height: 120%;
        }

        @include screen-400 {
            display: none;
        }
    }

    h3 {
        @include screen-400 {
            display: block !important;
            font-size: 34px;
            line-height: 120%;
        }
    }
}

.hero-subtitle {
    p {
        max-width: 590px;
        margin: 0 auto;
        line-height: 160%;
        margin-top: 20px;
        margin-bottom: 40px;
        color: #36394A;
    }
}

.hero-content {
    justify-content: center;
    gap: 24px;

    @include screen-576 {
        display: inline-block !important;
    }
}

.hero-btn {
    .secondary-btn {
        padding: 10px 43px;

        @include screen-576 {
            padding: 10px 131px;
            margin-bottom: 24px;
        }
    }
}

.hero-review {
    gap: 12px;

    @include screen-576 {
        justify-content: center;
    }
}

.hero-review-content {
    span {
        font-size: 14px;
        font-weight: 500;
        color: var(--primary-color);
    }
}


.hero-thumb {
    position: relative;
    flex-shrink: 0;
}

.hero-thumb-slider {
    display: none;

    @include screen-768 {
        display: block !important;
    }
}

.hero-thumb-slider {
    .slick-slide {
        margin: 0 12px;
    }

    .slick-list {
        margin: 0 -12px;
    }

    .slick-slide img {
        display: inline-block;
    }
}

.hero-thumb-01 {
    @include screen-1200 {
        width: 300px !important;
        height: 500px;
    }

    @include screen-768 {
        display: none;
    }
}

.hero-thumb-02 {
    position: absolute;
    left: 33%;

    @include screen-1200 {
        width: 350px !important;
        height: 238px;

    }

    @include screen-768 {
        display: none;
    }
}

.hero-thumb-03 {
    position: absolute;
    top: 52%;
    left: 33%;

    @include screen-1200 {
        width: 350px !important;
        height: 238px;
    }

    @include screen-768 {
        display: none;
    }
}

.hero-thumb-04 {
    position: absolute;
    top: 0%;
    right: -1%;

    @include screen-1200 {
        width: 300px !important;
        height: 500px;
        right: -5%;
    }

    @include screen-768 {
        display: none;
    }
}

.hero-thumb-05 {
    position: absolute;
    top: 6%;
    left: 19%;

    @include screen-1200 {
        display: none;
    }
}

.hero-thumb-06 {
    position: absolute;
    bottom: 0%;
    right: 11.5%;

    @include screen-1200 {
        display: none;
    }
}


/***** Hero Section End ******/

/***** About Section Start ******/
.about-section {
    padding: 120px 0;

    @include screen-768 {
        padding: 40px 0;
    }
}

.about-top {
    .common-content {
        .common-subtitle {
            p {
                max-width: 500px;
                margin: 0 auto;
                margin-bottom: 80px;

                @include screen-400 {
                    max-width: 340px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.about-card {
    background-color: var(--review-card-bg);
    border-radius: 24px;
    position: relative;
}

.about-icon {
    position: absolute;
    left: 47%;
    top: 53%;
    background: #ECFEFF;
    padding: 6px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;

    @include screen-1200 {
        top: 43%;
    }

    @include screen-992 {
        top: 35%;
    }

    @include screen-576 {
        top: 50%;
    }
}

.about-card-thumb {
    img {
        border-radius: 24px 24px 0 0;

        @include screen-576 {
            width: 100%;
        }
    }
}

.about-card-thumb-border {
    img {
        border-radius: 0;

        @include screen-576 {
            width: 100%;
        }
    }
}

.about-card-content {
    padding: 24px;

    h5 {
        line-height: 140%;
    }

    p {
        line-height: 160%;
        margin-top: 8px;
    }
}

/***** About Section End ******/

/***** Feature Section Start ******/
.feature-section {
    padding: 0 0 120px 0;

    @include screen-768 {
        padding: 40px 0;
    }
}

.feature-content {
    background-color: var(--review-card-bg);
    border-radius: 32px;
    padding: 80px;

    @include screen-992 {
        padding: 50px;
    }

    @include screen-768 {
        padding: 30px;
    }

    @include screen-400 {
        padding: 16px;
    }

}

.feature-top {
    .common-content {
        .common-title {
            h2 {
                max-width: 730px;
                margin: 0 auto;
                margin-top: 24px;
                margin-bottom: 16px;

                @include screen-576 {
                    font-size: 37px;
                }

                @include screen-400 {
                    font-size: 32px;
                    line-height: 120%;
                }
            }
        }

        .common-subtitle {
            p {
                max-width: 570px;
                margin: 0 auto;
                margin-bottom: 56px;

                @include screen-400 {
                    max-width: 340px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.feature-section {
    .accordion {
        --bs-accordion-border-width: 0;

        .accordion-item {
            background-color: var(--review-card-bg);
            border-radius: 12px;
            box-shadow: 0px 40px 48px rgba(26, 27, 37, 0.05);
            margin-bottom: 16px;
            border: 4px solid transparent;
            transition: 0.3s;

            .accordion-header {
                .accordion-button {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 25px;
                    padding: 16px 24px;
                    background: transparent;
                    color: var(--primary-color);
                    outline: 0;
                    border: transparent;

                    &::after {
                        background: none;
                        content: "\2b";
                        font-family: "FontAwesome";
                        width: auto;
                        height: auto;
                    }
                }

                .accordion-button:focus {
                    box-shadow: none;
                }

                .accordion-button:not(.collapsed) {
                    color: var(--primary-color);
                    border: 0;
                }
            }

            .accordion-body {
                padding: 8px 24px 24px 24px;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                color: var(--paragraph-color);
            }
        }
    }
}

.accordion-item.active-item {
    border: 4px solid var(--white-color) !important;
}


/***** Feature Section End ******/

/***** Testimonial Section Start ******/
.testimonial-section {
    background-color: var(--review-card-bg);
    padding: 120px 0;

    @include screen-768 {
        padding: 40px 0;
    }
}

.testimonial-top {
    .common-content {
        .common-title {
            h2 {
                max-width: 600px;

                @include screen-576 {
                    font-size: 37px;
                }

                @include screen-400 {
                    font-size: 32px;
                    line-height: 120%;
                }
            }
        }

        .common-subtitle {
            p {
                max-width: 580px;

                @include screen-400 {
                    max-width: 340px;
                }
            }
        }
    }
}

.testimonial-slider {
    margin: 0 80px;
}

.testimonial-card {
    gap: 40px;
    background: linear-gradient(180deg, #F8FAFB 0%, #FFFFFF 100%);
    padding: 33px 16px;
    border-radius: 16px;
    border: 4px solid var(--white-color);
}



.testimonial-content-title {
    h4 {
        margin-top: 24px;
        margin-bottom: 8px;
        line-height: 140%;
    }
}

.testimonial-content-subtitle {
    p {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500;
        color: var(--primary-color);
        line-height: 155%;
    }
}

.testimonial-content-subtitle-margin {
    margin-top: 24px;
    margin-bottom: 16px;
}

.testimonial-content-author {
    span {
        font-size: 16px;
        font-weight: 600;
        color: #A4ACB9;
        line-height: 155%;
    }
}

.testimonial-slider {
    position: relative;

    .slick-prev,
    .slick-next {
        position: absolute;
        font-size: 20px;
        width: 52px;
        height: 52px;
        top: -25%;
        background-color: var(--white-color);
        color: var(--primary-color);
        border-radius: 12px;
        border: 1px solid var(--footer-border-color);
        box-shadow: var(--primary-box-shadow);
        transition: 0.3s;
        z-index: 10;

        i {
            color: var(--primary-color);
        }
    }

    .slick-prev {
        right: 65px;
    }

    .slick-next {
        right: 0px;
    }

    .slick-slide {
        position: absolute;
        top: 2%;
        left: 0;
        width: 90%;
        height: 500px;
        z-index: 1;
        margin: 20px 0;
    }

    .slick-list {
        margin: 0 -12px;
        height: 800px;
    }

    .slick-track {
        height: 500px;
    }

    .slick-current {
        margin: 0 12px;
        position: absolute;
        top: 0;
        left: 6%;
        width: 87%;
        z-index: 10;
    }

    .slick-slide img {
        display: inline-block;
    }
}


/***** Testimonial Section End ******/

/***** Story Section Start ******/
.story-section {
    padding: 120px 0;
    position: relative;

    @include screen-768 {
        padding: 40px 0;
    }
}


.story-shape {
    position: absolute;
    top: 460px;
    left: 0;
    z-index: 1;

    @include screen-576 {
        top: 350px;
    }

    @include screen-400 {
        display: none;
    }

}

.story-shape-02 {
    position: absolute;
    left: 24px;
    top: 360px;
    height: 1074px;

    @include screen-400 {
        display: block !important;
    }
}

.story-top {
    .common-content {
        .common-title {
            h2 {
                max-width: 600px;
                margin: 0 auto;
                margin-top: 24px;
                margin-bottom: 16px;

                @include screen-576 {
                    font-size: 37px;
                }

                @include screen-400 {
                    font-size: 32px;
                    line-height: 120%;
                }
            }
        }

        .common-subtitle {
            p {
                max-width: 570px;
                margin: 0 auto;
                margin-bottom: 168px;

                @include screen-400 {
                    max-width: 340px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.story-card {
    background: var(--white-color);
    border: 1px solid var(--footer-border-color);
    border-radius: 16px;
    padding: 24px;

    @include screen-400 {
        margin-left: 62px;
        padding: 20px;
    }

    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 88px;
        left: 175px;
        top: -86px;
        background: linear-gradient(180deg, #0793B2 0%, rgba(7, 147, 178, 0) 100%);
        border-radius: 1000px;
        z-index: 2;

        @include screen-400 {
            display: none;
        }
    }
}

.story-card-title {
    h4 {
        line-height: 140%;
    }
}

.story-card-subtitle {
    p {
        line-height: 160%;
        margin-top: 8px;
        margin-bottom: 24px;
    }
}

.story-card-subtitle-margin {
    p {
        margin-bottom: 50px;

        @include screen-400 {
            margin-bottom: 20px;
        }
    }
}

.story-card-date {
    span {
        background-color: var(--story-date-bg);
        color: var(--secondary-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 155%;
        padding: 4px 11px;
        border-radius: 6px;
        display: inline-block;
    }
}

/***** Story Section End ******/

/***** Review Section Start ******/
.review-section {
    padding: 120px 0 128px 0;

    @include screen-768 {
        padding: 40px 0;
    }
}


.review-top {
    .common-content {
        .common-subtitle {
            p {
                margin-bottom: 80px;

                @include screen-400 {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.review-row {
    @include screen-400 {
        display: none;
    }
}

.review-card {
    padding: 32px;
    background-color: var(--review-card-bg);
    border-radius: 16px;
}

.review-card-subtitle {
    span {
        color: var(--primary-color);
        font-size: 19px;
        font-weight: 600;
        line-height: 140%;
    }
}

.review-card-content-title {
    span {
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
    }
}

.review-card-padding {
    padding: 24px;
}

.review-card-subtitle-span {
    span {
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 160%;
    }
}


.review-slider {
    @include screen-400 {
        display: block !important;
    }

    .slick-dots {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 40px;

        cursor: pointer;

        li {
            display: inline-block;

            button {
                width: 2px;
                height: 1px;
                padding: 4px;
                border-radius: 50%;
                background: var(--primary-border-color);
                font-size: 0;
                border: none;
                outline: none;
            }

            &.slick-active {
                button {
                    background: var(--primary-color);
                    width: 2px;
                    height: 1px;
                    padding: 4px 20px;
                    font-size: 0;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .slick-slide {
        margin: 0 12px;
    }

    .slick-list {
        margin: 0 -12px;
    }

    .slick-slide img {
        display: inline-block;
    }
}

/***** Review Section End ******/

/***** Mentor Section Start ******/
.mentor-section {
    background-color: var(--mentor-bg);
    overflow: hidden;
    padding: 24px 0 200px 0;

    @include screen-1200 {
        padding: 40px 0 200px 0;
    }

    @include screen-768 {
        padding: 40px 0 300px 0;
    }

    @include screen-576 {
        padding: 40px 0 250px 0;
    }
}

.mentor-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    @include screen-1200 {
        display: inline-block;
    }
}

.mentor-content {
    flex-shrink: 0;

    @include screen-1200 {
        margin-bottom: 52px;
    }

    .common-content {
        .common-title {
            h2 {
                max-width: 600px;

                @include screen-576 {
                    font-size: 37px;
                }

                @include screen-400 {
                    font-size: 32px;
                    line-height: 120%;
                }
            }
        }

        .common-subtitle {
            p {
                max-width: 600px;

                @include screen-400 {
                    max-width: 340px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.mentor-content-btn {
    display: flex;
    gap: 16px;

    @include screen-400 {
        display: block;
    }

    .mentor-content-btn-one {
        padding: 10px 33px;
        font-size: 16px;

        @include screen-400 {
            padding: 11px 120px;
            margin-bottom: 16px;
            margin-left: 12px;
        }
    }

    .mentor-content-btn-two {
        padding: 11px 28px;
        font-size: 16px;

        @include screen-400 {
            padding: 11px 122px;
            margin-left: 12px;
        }
    }
}

.mentor-thumb {
    flex-shrink: 0;
}

/***** Mentor Section End ******/

/***** Call To Action Section Start ******/
.call-to-action-section {
    margin-top: -120px;
    margin-bottom: -280px;
    position: relative;
    z-index: 2;

    @include screen-768 {
        margin-top: -200px;
        margin-bottom: -220px;
    }
}

.call-to-action-content {
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 80px 316px;

    @include screen-1200 {
        padding: 60px 200px;
    }

    @include screen-992 {
        padding: 60px 100px;
    }

    @include screen-768 {
        padding: 40px 80px;
    }

    @include screen-576 {
        padding: 24px;
    }
}

.call-review {
    justify-content: center;
    gap: 12px;
}

.call-review-content {
    span {
        font-size: 14px;
        font-weight: 500;
        color: var(--white-color);
    }
}

.call-to-action-content-title {
    h2 {
        color: var(--white-color);
        line-height: 125%;
        margin-top: 42px;

        @include screen-768 {
            font-size: 40px;
        }

        @include screen-576 {
            font-size: 32px;
        }
    }
}

.call-to-action-content-subtitle {
    p {
        color: var(--white-color);
        line-height: 160%;
        margin-top: 16px;
        margin-bottom: 40px;
    }
}

.call-to-action-btn {
    border: 0;
    padding: 12px 54px;
    border-radius: 12px;
    font-size: 16px;

    @include screen-400 {
        display: block;
    }
}

/***** Call To Action Section End ******/